<div class="large_pathfinder_logo"></div>

<hr>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="login_container">
  <div id="account" class="center">
    <% if user_signed_in? %>
      <span class="orange bold"><%= current_user.player_name %></span>
      <%= link_to main_app.logout_path, :method => :delete do %>
        <span class="link_button">Log Out</span>
      <% end %>
    <% else %>
      <% if !current_user %>
         <%= link_to "Sign in", main_app.login_path, class: "button hover center" %>
         <%= link_to "Guest", main_app.guest_path, class: "button hover center" %>
      <% end %>
    <% end %>
  </div>
</div>
